.backgroundVideo {
    position: fixed;
    object-fit: cover;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.usersession_container {
    height: 115vh;
    width: 100%;
    display: flex;
    justify-content: center;
    object-fit: contain;
    flex-direction: column;
}

.canvasStyle {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9;
    width: 640px;
    height: 480px;
}

.webcamStyle {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; 
    text-align: center;
    border-style: solid;
    border-color: rgb(1, 1, 71, 0.7);
    border-width: 7px;
    z-index: 8;
    width: 640px;
    height: 480px;
}

.pageButtons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 540px;
    
}

.toRecordPage {
    width: 200px;
    font-size: 15pt;
    background-color: rgb(1, 1, 71, 0.7);
    color: white;
    padding: 10px;
    border-color: whitesmoke;
    cursor: pointer;
}

.sendEmail {
    width: 200px;
    font-size: 15pt;
    margin-left: 180px;
    padding: 10px;
    border-color: whitesmoke;
    background-color: rgb(1, 1, 71, 0.7);
    padding: 10px;
    color: white;
    cursor: pointer;
}

.learnSignLanguage {
    width: 200px;
    font-size: 15pt;
    margin-left: 180px;
    padding: 10px;
    border-color: whitesmoke;
    background-color: rgb(1, 1, 71, 0.7);
    padding: 10px;
    color: white;
    cursor: pointer;
}